<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>이미 있는 아이디 입니다.</h1>
    <h1>다시 입력해 주세요</h1>
    <a href="./enroll"><h1>회원가입 바로가기</h1></a>
</body>
</html>