<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action='/regame'>
        <table>
            <tr>
                <td><h1>게임이름:  </h1><input type="text" name ="name"></td>
            </tr>
            <tr>
                <td><h1>공략법:</h1><input type="text" name = "gong"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Sumit" name = ""></td>
            </tr>
        </table>
    </form>
</body>
</html>