<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <a href="/">메인</a>
</head>
<body>
    <h1><br><i>로그인</i></br></h1>
    <form method="POST" action='/login'>
        <table>
            <tr>
                <td><h1>아이디:  </h1><input type="text" name ="id"></td>
            </tr>
            <tr>
                <td><h1>비밀번호:</h1><input type="text" name = "pw"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Sumit" name = ""></td>
            </tr>
        </table>
    </form>
    <button><a href="./enroll">회원가입가기</a></button>
</body>
</html>