<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .lo{
            float: right;
            text-align: right;
        }
        .name{
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="lo"><a href="./login">로그인</a><br>
        <a href="./enroll">회원가입</a><br>
        
    </div>
    <h1 class="name">제목</h1>
    <hr>
    
    <a href="./ggame4">게임3</a>
    <a href="./game4">게임4</a><br>
    <a href="./cumunity">대화</a>
    <a href="./pro">문의</a>
    <a href="./question">질문</a>
    <a href="./minigames">미니게임</a>
</body>
</html>